.App {
  position: relative;
  padding: 0 15rem;
}

.Product .active {
  border: 2px solid var(--primary);
  opacity: 0.5;
}

.Product > div img:not(.active) {
  cursor: pointer;
}

.Product > div img:not(.active):hover {
  opacity: 0.5;
}

.carousel-btn-left,
.carousel-btn-right {
  width: 75px;
  height: 75px;
  color: var(--primary);
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  font-size: 2rem;
  border: 1px solid var(--background);
  top: 35%;
  cursor: pointer;
  box-shadow: 0 0 3px 1px #0006;
}

.carousel-btn-left {
  left: -40px;
}

.carousel-btn-right {
  right: -40px;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem 2rem;
}

.Product {
  width: 25%;
  position: relative;
  cursor: pointer;
}

.Product img {
  border-radius: 20px;
}

.Product > img {
  width: 100%;
  margin-bottom: 1rem;
}

.Product > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.Product > div > img {
  width: 20%;
}

.ProductDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 50%;
}

.ProductDetails p:first-of-type {
  font-size: 0.7rem;
  color: var(--primary);
  font-weight: var(--bold-text);
  letter-spacing: 0.25rem;
}

.ProductDetails h3 {
  font-size: 3.75rem;
}

.ProductDetails > p:last-of-type {
  line-height: 1.75rem;
}

.discounted-price {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: var(--bold-text);
}

.discounted-price > span:first-of-type {
  font-size: 1.5rem;
}

.discounted-price > span:last-of-type {
  border-radius: 5px;
  background-color: var(--primary-pale);
  color: var(--primary);
  padding: 0.25rem 0.5rem;
}

.original-price {
  font-weight: var(--bold-text);
  color: var(--text);
}
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-footer > div {
  width: 45%;
  background-color: var(--quantity);
  padding: 1rem 1.25rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

.product-footer > div > span:last-of-type,
.product-footer > div > span:first-of-type {
  color: var(--primary);
  font-weight: var(--bold-text);
}

.product-footer > div > span:last-of-type:hover,
.product-footer > div > span:first-of-type:hover {
  color: var(--primary-pale);
  cursor: pointer;
}

.product-footer > button {
  width: 45%;
  padding: 1rem 0;
  background-color: var(--primary);
  color: var(--white);
  display: block;
  border-radius: 10px;
  border: none;
}

.product-footer > button:hover {
  background-color: var(--primary-pale);
  color: var(--primary);
  cursor: pointer;
}

.Modal {
  width: 100%;
  height: 100vh;
  background-color: #0006;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal > button {
  color: #fff6;
  background-color: #0000;
  border: none;
  font-size: 2rem;
  width: 25%;
  margin-bottom: 1rem;
  text-align: end;
}

.Modal > button > span:hover {
  color: #fff;
  cursor: pointer;
}
