nav {
  width: 100%;
  border-bottom: 1px solid var(--text);
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation h1 {
  font-size: 2rem;
  color: var(--highlighted-text);
  cursor: pointer;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navigation ul li {
  color: var(--text);
}

.navigation ul li:hover {
  color: var(--highlighted-text);
  cursor: pointer;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.user-container svg {
  color: var(--highlighted-text);
  cursor: pointer;
}

.user-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.user-container img:hover {
  border: 1px solid var(--pale-primary);
  cursor: pointer;
}
